@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "맑은 고딕";
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #fff;
}

/*헤더*/
#wrap>header {
    width: 1200px;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}

header>.logo>a {
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
}

header>.logo>a>img {
    width: 35px;
    height: 35px;
    margin: 0 20px 0 0;
}

/*네비 메뉴 히든 리스트*/
nav {
    display: flex;
    line-height: 100%;
}

nav>ul {
    display: flex;
}

nav>ul>li>a {
    padding: 20px;
    color: #fff;
    font-size: 17px;
    opacity: 0.8;
}

nav>ul>li>a:hover {
    opacity: 1;
}


.menu_color {
    display: none;
}

nav>.reservation>a {
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    margin: 0 0 0 20px;
    letter-spacing: 1px;
}

/*슬라이더*/

#slider {
    width: 100%;
    height: 900px;
    background-image: url("../img/slider1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 70px;
    left: 0;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#slider>.tonedown {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #202020;
    opacity: 0.5;
}

#slider>span {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    z-index: 5;
    margin: 20px;
    letter-spacing: 3px;
}

#slider>h1 {
    font-weight: bold;
    font-size: 70px;
    color: #fff;
    z-index: 5;
    line-height: 100px;
}

#slider>p {
    font-size: 15px;
    color: #fff;
    z-index: 5;
    line-height: 25px;
    margin: 20px;
}

/*섹션*/

section {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

section>#about {
    width: 1200px;
    height: 1100px;

    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 5;
}

#about>.about_box {
    width: 44%;
    height: 90%;

    color: #202020;
}

.about_box>h1 {
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    color: #202020;
    margin: 15px 0;
}

.about_box p {
    font-size: 17px;
    line-height: 25px;
    margin: 10px 0 50px 0;
    color: #666;
}

.about_box>.content_box {
    width: 100%;
    height: 45%;
    margin: 15px 0 20px 0;

    margin: 10px 0 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about_box>.content_box>img {
    width: 100%;
    height: 80%;
}

.about_box>.content_box>h3 {
    font-size: 19px;
    font-weight: bold;
    margin: 20px 0 0 0;
}

.about_box>.coffee {
    width: 90%;
    height: 37%;


}

section>#menu {
    width: 100%;
    height: 1150px;
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 30px;
}

#menu>.list {
    width: 1200px;
    height: 800px;
    text-align: center;
    padding: 100px 20px;

}

.list>span {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    line-height: 70px;
    letter-spacing: 2px;
    width: 100%;

}

.list>h1 {
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    width: 100%;
    height: 70px;

}

.list>p {
    font-size: 15px;
    color: #fff;
    width: 100%;
    margin: 0 0 20px 0;
    line-height: 25px;

}

.list>.menu_list {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.menu_list>table {
    width: 45%;
    margin: 20px 0;
}

.menu_list>table td {
    border-bottom: 1px dashed #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu_list>table h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
}

.menu_list>table p {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 20px 0;
    color: #eee;
}

.list>button {
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    margin: 50px;
    background-color: rgb(0, 0, 0, 0);
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}

#menu>.signature {
    width: 100%;
    height: 350px;
    background-image: url(../img/menu1.jpg);
    background-size: cover;
    background-position: left bottom;
    position: relative;
    display: flex;
    flex-direction: column;
}

.signature>.tonedown {
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #202020;
    opacity: 0.5;
    z-index: 1;
}

.signature >.signature_text {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 5;
    padding:80px 0;
}

.signature_text>span {
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    
    letter-spacing: 2px;
    width: 100%;
    z-index: 5;
}

.signature_text>h1 {
    font-weight: bold;
    font-size: 55px;
    color: #fff;
    z-index: 5;
    line-height: 70px;
    margin:20px 0 ;
}

.signature_text>p {
    font-size: 17px;
    color: #fff;
    width: 100%;
    margin: 0 0 20px 0;
    line-height: 25px;
    z-index: 5;
}

#gallery {
    width: 90vw;
    height: 90vh;
    padding:50px 0;
    display:flex; 
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-between;
    
}

#gallery > .pic {width:32%; height:48%; overflow:hidden; }
.pic > a >img {width:100%; height:100%; transition:0.5s;}
.pic > a >img:hover {opacity:0.8;}
#chef {
    width: 1200px;
    height: 800px;
    background-color: blueviolet;
}


#review {
    width: 100%;
    height: 300px;
    background-color: bisque;
}

#reservation {
    width: 700px;
    height: 400px;
    background-color: aquamarine;
}

footer {
    width: 100%;
    height: 400px;
    background-color: black;
}